@tailwind base;
@tailwind components;
@tailwind utilities;


.paddX {
    @apply px-4 sm:px-8 md:px-12 lg:px-16;

}

.center {
    @apply flex items-center justify-center
}

.active {
    @apply text-white bg-blue-500
}

.correct {
    animation: correct 1s ease forwards
}

@keyframes correct {

    0%,
    22%,
    42% {
        @apply bg-blue-600
    }

    20%, 40%, 60% {
        @apply bg-blue-800
    }

    62%, 100% {
        @apply bg-green-600
    }
}

/* ================================================== */
.wrong {
    animation: wrong 1s ease forwards
}


@keyframes wrong {

    0%,
    22%,
    42% {
        @apply bg-blue-600
    }

    20%, 40%, 60% {
        @apply bg-blue-800
    }

    62%, 100% {
        @apply bg-red-600
    }
}



.showResultScreen {
    scale: 1;
}

.smooth-appearance-top {

    transform-origin: top;
    animation: scaleTop .3s ease-in-out forwards;
}

@keyframes scaleTop {

    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }

}

/* ==================================== */
.smooth-appearance-center {

    transform-origin: center center;
    animation: scalecenter .3s ease-in-out forwards;
}

@keyframes scalecenter {

    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }

}